@use '../abstract/' as *;
@use '../base/' as *;
@use '../component/' as *;
@use '../layout/' as *;
@use '../vendor/' as *;
 body{
    background-color: $clr-secondary;
 }
 .round-1{
    @include  roundedContainer();
.banner{
    &__wrapper{
        margin-bottom: 5rem;
        @include grid(1fr 1fr);
        h4{
            font-family: "cd-regular";
            opacity: .5;
        }
        h1{
            font-family: "cd-medium";
            font-weight: bolder;
        }
        .button__side{
            @include flex(flex-end, flex-end);
            bottom: 5rem;
        button{
            font-size: 1.5rem;
            border: none;
            min-width: 13rem;
            padding: 1rem;
            border: none;
            border-radius: 5rem;
            text-transform: uppercase;
            background: $clr-accent;
            color: $clr-light;
        }
        .btn{
            border: 2px solid $clr-accent;
            border-color: $clr-accent;
            background: $clr-light;
            color: $clr-dark;
        }
    }
    .image__side{
        @include flex(space-between, flex-end);
        // @include grid(1fr, 1fr)
        margin-bottom: 5rem;
    }
    }
}
 }

.counter{
    &__wrapper{
    }
}

.team{
    &__wrapper{
        .title{
            text-align: center;
            h2{
                font-size: 5rem;
                color: $clr-light;
                font-weight: bolder;
            }
            h4{
                color: $clr-light;
            }
        }
        .card{
            @include flex(space-between, center);
            gap: 5rem;
            .card-info{
                opacity: 10;
                padding: .1px;
                border-radius: 1rem;
                background-color: #595a4f;
                img{
                    border-radius: 1rem;
                }
            }
        }
    }
}

.cta{
    background-image: url(https://via.placeholder.com/400x200);
    background-repeat: no-repeat;
    background-size: cover;
    &__wrapper{
        text-align: center;
        h2{
            font-weight: bolder;
            color: $clr-light;
        }
        p{
            color: $clr-light;
        }
        button{
            font-size: 1.5rem;
            border: none;
            min-width: 13rem;
            padding: 1rem;
            border: none;
            border-radius: 5rem;
            text-transform: uppercase;
            background: $clr-accent;
            color: $clr-light;
        }
    }
}